body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#button {
  padding: 25px 25px;
  border-radius: 5px;
  background-color: #ffd86e;
  appearance: none;
  border-style: solid;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 30px;
  font-weight: bold;
  color: #a05bfd;
}

